
<div class="container-fluid">
    <h1>Marionette HTMLBars</h1>
    <div class="panel panel-default">
        <div class="panel-heading">ItemView</div>
        <div class="panel-body" id="item-view"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">ItemViewCollection</div>
        <div class="panel-body" id="item-view-collection"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">LayoutView </div>
        <div class="panel-body" id="layout-view"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Action and UI Auto-binding</div>
        <div class="panel-body" id="action-view"></div>
    </div>
</div>