<h3>TODO List</h3>
{{#if items}}
    get to work, {{items.length}} tasks left
{{else}}
    No items
{{/if}}

<br>

<ul>
{{#each items key="name" as |person|}}
    <li>{{person.name}}</li>
{{/each}}
</ul>

<button class="add btn btn-primary">
    <span class="fa fa-plus" aria-hidden="true"></span> Add task
</button>
<button class="remove btn btn-danger">
    <span class="fa fa-trash" aria-hidden="true"></span> Remove task
</button>
<button class="reorder btn btn-default">
    <span class="fa fa-sort" aria-hidden="true"></span> Reorder
</button>